.parent{
	width:160px;
	height:200px;
	background-color: orange;
	/*font-size:10px;*/
  margin: 10px;
}

.child{
	width:10em; 
	/* 
	기본 font-size : 16px 
	10em = 160;
	*/
	height:100px;
	background-color: green;
}

.item{
	width:100px;
	height:100px;
	background-color: orange;
}
.item:first-child{
	border:4px solid red;
	padding: 10px;
	box-sizing: border-box;
}
/* bg CSS */
div{
	/*width:200px;*/
	height:200px;
	background-color: orange;
	background-image: url("https://heropy.blog/css/images/logo.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

body{
	height: 3000px;
}
